*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.upper-container{
    width: 50%;
    height: 10%;
    margin: 50px auto;
    position: relative;
}
.upper-container1{
    height: 100%;
    width: 35%;
    padding-top: 20px;
}
#tasks{
  font-weight: bold;
  font-size: 2.5rem;
}
#lists{
    margin-left: 10px;
    font-size: 2.5rem;
    opacity: 0.5;
}
.upper-container2 {
    width: 30%;
    height: 100%;
    padding-top: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
    
}
#add{
    opacity: 0.5;
    font-size: 30px;
    top: 0px;
    right: 0px;
    width: 80%;
    height: 100%;
    position: absolute;
    padding-top: 23px;
}
@media(max-width:600px){
.upper-container{
 width:80%;    
}
.upper-container1{
    width: 80%;
}
#add{
    display: none;
}

#circle{
    right:0px;
    position: absolute;

}
.main-container{
    position: relative;
    
    height: 500px;
    width: 400px;
}
.div1{
    width: 80%;
    box-shadow: 5px 5px 15px  grey;
    border: 1px solid;
    background-color:white;
    height:  15%;
    border-radius: 6px;
    color: black;
    opacity: 0.5;
    font-size: 25px;
    position: absolute;
    left: 10%;
    text-align:auto;
    padding-top: 14px;
    padding-left: 10px;
    
}
.div2{
    width: 80%;
    margin-top: 25%;
    box-shadow:5px 5px 15px  grey;
    border: 1px solid;
    background-color:white;
    border-radius: 6px;
    left: 10%;
    position: absolute;
    color:black;
    opacity: 0.5;
    font-size: 25px;
    text-align:auto;
    height: 15%;
    padding-top: 14px;
    padding-left: 10px;
}
.div3{ 
width: 80%;
margin-top: 50%;
box-shadow:5px 5px 15px  grey;
border: 1px solid;
background-color:white;
border-radius: 6px;
left: 10%;
position: absolute;
color: black;
opacity: 0.5;
font-size: 25px;
text-align:auto;
height: 15%;
padding-top: 14px;
padding-left: 10px;
}
.div4{ 
    width: 80%;
    margin-top: 75%;
    box-shadow:5px 5px 15px  grey;
    border: 1px solid;
    background-color:white;
    border-radius: 6px;
    left: 10%;
    position: absolute;
    color:black;
    opacity: 0.5;
    font-size: 25px;
    text-align:auto;
    height: 15%;
    padding-top: 14px;
    padding-left: 10px;
    }
 .div5{ 
        width: 80%;
        margin-top: 100%;
        box-shadow:5px 5px 15px  grey;
        border: 1px solid;
        background-color:white;
        border-radius: 6px;
        left: 10%;
        position: absolute;
        color:black;
        opacity: 0.5;
        font-size: 25px;
        text-align:auto;
        height: 15%;
        padding-top: 14px;
        padding-left: 10px;
        }
    
}
.no-show{
    filter: blur(6px);
    -webkit-filter: blur(6px);
}
.pop-up{
    position: absolute;
    left: 10%;
    top: 30%;
    height: 20vh;
    width: 80%;
    border: 1px solid orange;
    border-radius: 12px;
    color: orange;
    font-size: 18px;
    box-shadow: 3px 3px 7px lightcoral;
    background-color:white;
    padding: 20px;
}
.add-new{
    opacity: 0.5;
    font-size: 17px;
    

    
}
.pop-upbar{
    margin-top: 20px;
    border-radius: 4px;
    width: 85%;
    height: 27%;
    border: 1.5px solid orange;
    box-shadow: 1px 1px 3px grey;
}
.pop-up-button{
    width: 20%;
    height: 18%;
    margin-top:18px;
    color: white;
    background-color: orange;
    border-radius: 20px;
    border: none;
    position: absolute;
    left: 40%;
    font-size: 15px;
    

}

.pop-up-button:hover{
cursor: pointer;
transition: transform 2s;
}
.pop-up-button:active{
transform: scale(2,2);
}   
@media(max-width:600px;){
.pop-up{
position: absolute;
width: 60%;
height:20vh ;
}


}

